/* You can add global styles to this file, and also import other style files */
.icon-slot {
  position: relative;

  &:before {
    content: '\00a0';
  }

  @for $size from 10 through 40 {
    &-#{$size} {
      width: #{$size}px;
    }
  }
}

.icon {
  display: inline-block;
  vertical-align: -0.1625em;
  width: 1em;
  height: 1em;
}
